video{

          position: fixed;
          right:0;
          bottom: 0;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -9999;

      }
.div1{ top:650px; height: 70px; width: 200px;position: relative;text-align: center;left: 650px;;
font-family: 楷体;font-size: 30px;}
a:link{color: blue;}